*.iml
target
*.log
.DS_Store
.idea
.gradle
build
/.nb-gradle/
.classpath
.project
.settings/
.vscode
.azure-devops/
.azure/
.cache/
.config/
.java/
Images/
acceptance-test/
carts/
credentialsHelper.sh
frontend/
payment/
phippyandfriends/
shipping/
terraform-registry/
